<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School</title>
</head>
<body style="width:50%">
    <h1>This is the school app</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, animi laborum nihil et assumenda ullam non quae numquam labore. Culpa maxime debitis neque fugiat mollitia sequi, modi quam eligendi velit iusto repellendus voluptas! Et sequi voluptas, distinctio nam incidunt amet recusandae quo? Impedit, quam! Error veritatis dolores accusantium numquam repellendus!
    </p>
</body>
</html>